<section style="margin-top:15px;">
	<div class="row" align="center">
		<div class="small-12 columns">
			<div id="profile-picture-container">
				<img id="interests_pic" src="/assets/portrait_hex_icon2.png" alt="Interests" style="">
			</div>
			
			<div style="margin-bottom: 10px; font-size: 30px">
				<span style="font-family: Megrim">Good day, I am sir nicholas</span>
			</div>
			
			<div style="max-width:100%">
				
				<div style="margin-bottom: 30px; font-size: 21px;">
					Partner Certified Salesforce Consultant and Tech Lead, security enthusiast, <br/>tech connoisseur,
					and diversified developer
				</div>
				
				<div align="center">
					<div style="margin: 20px 0px 52px 0px;" align="center">
						<div id="profile-github-hex-icon" class="profile-hex-icon">
							<a href="https://github.com/nschumacher" style="margin-right: 10px">
								<img src="/assets/github_hex_icon.png" style="width: 50px">
							</a>
						</div>
						<div id="profile-linkedin-hex-icon" class="profile-hex-icon">
							<a href="https://www.linkedin.com/in/nicholasaschumacher" style="margin-right: 10px">
								<img src="/assets/linkedin_hex_icon.png" style="width: 50px;">
							</a>
						</div>
						<div id="profile-insta-hex-icon" class="profile-hex-icon">
							<a href="https://www.instagram.com/sir_nicholas0/" style="margin-right: 10px">
								<img src="/assets/insta_hex_icon.png" style="width: 50px;">
							</a>
						</div>
						<div id="profile-twitter-hex-icon" class="profile-hex-icon">
							<a href="https://twitter.com/sir_nicholas0" style="margin-right: 10px">
								<img src="/assets/twitter_hex_icon.png" style="width: 50px;">
							</a>
						</div>
						<div id="profile-fb-hex-icon" class="profile-hex-icon">
							<a href="https://www.facebook.com/nick.schumacher.357" style="margin-right: 10px">
								<img src="/assets/fb_hex_icon.png" style="width: 50px">
							</a>
						</div>
					</div>
				</div>

				<div>
					This site serves as my portfolio and includes
					an online resume, blog, and personal note taking tool. I refer to the blog and note taking tool as the Vault,
					which contains posts and note entries covering a variety of topics with a focus on Salesforce and other 
					technologies that have sparked my interest. Feel free to look around and engage in the discussions at the 
					bottom of each Vault entry!

					@sir_nicholas0</span>
				</div>

				<div style="margin-top: 50px">
					© Nick Schumacher, 2019
				</div>
			</div>
		</div>
	</div>
</section>
