<div class="row">
  <div class="large-6 columns">
    <!-- Skill 1 -->
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="assets/salesforce_logo.svg" width="50">
        </div>
      </div>
      <div class="media-object-section">
        <h4>Salesforce</h4>
        <p>
          I am a Partner Certified consultant and a skilled Lightning Experience (LEX)
          developer. I am comfortable developing complex systems for LEX utilizing the
          component and event driven nature of the architecture.
          <br/><br/><br/><br/>
        </p>
      </div>
    </div>
    <!-- Skill 2 -->
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="assets/browser_logo.svg" width="50">
        </div>
      </div>
      <div class="media-object-section">
        <h4>Web Development</h4>
        <p>
          I am a self taught web developer with experience building apps in the
          Ruby on Rails, Spring, and Phoenix frameworks. I am familiar with
          HTML, CSS, SCSS, JS, JQuery, and the frameworks' related languages.
        </p>
      </div>
    </div>
  </div>
  <div class="large-6">
    <!-- Skill 3 -->
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="assets/terminal_logo.svg" width="50">
        </div>
      </div>
      <div class="media-object-section">
        <h4>Various Development</h4>
        <p>
          I am familiar with over a dozen languages and frameworks and have developed a myriad of different
          kinds of projects, from a recursive descendent expression evaluator to a compiler, to web apps, to an
          OS process scheduler, to automated web scripts. I have built these using languages such as Java, C, C++,
          Python, Ruby, Pascal, Javascript, and Elixir to name a few.
        </p>
      </div>
    </div>
    <!-- Skill 4 -->
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="assets/handshake.svg" width="50">
        </div>
      </div>
      <div class="media-object-section">
        <h4>Soft Skills</h4>
        <p>
          Communicating, leading, critical thinking, and working as a team are sometimes overlooked as necessary skills,
          but that should not be the case. I not only exibit these skills, but I do my best to instill these skills in others
          for the benefit of the greater picture.
        </p>
      </div>
    </div>
  </div>
</div>
