<style>
	.entry {
		background-color: #1C1C1C;
		box-shadow: 0px 0px 25px black; 
		margin: 10px 0px 10px 0px; 
		padding: 10px 10px 10px 10px; 
		font-size: 85%;
	}
	h2{
		color: #00ACE6;
	}
	.mylink:hover:visited{
		color:#0095D8;
		background-color: transparent;
	}
	.mylink:hover{
		color:#0095D8;
		background-color: transparent;
		text-decoration: none;
	}
	.mylink:link{
		color:#00ACE6;
		margin-right: 0px;
	}
	.mylink:visited{
		color:#00ACE6;
		background-color: none;
	}
	td {
		padding-right: 10px;
	}
	hr {
		border-color: white;
	}
</style>

<div class="container" align="center" style="margin:10px 15px 5px 15px; font-size: large">
	<div class="row" style="margin-bottom:20px">
		<h1 style="text-shadow: 2px 2px 4px #00ACE6">A Little About Me</h1>
		<!--<div style="margin: 5px 10px 8px 10px">
			<hr style="border-color: white; margin:3px 0px 10px 0px">
		</div>-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="center">
			I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interst in security. I like to keep myself busy with projects such as: building software to be used in RSA Security's Anti-Fraud Command Center, building Android applications with various purposes, contructing my own NFC ring for controller my phone, and many more. Check out my other endevors on my <a class="mylink" href="/pages/projects">Projects</a> page and my <a class="mylink" href="/pages/inDevelopment">In Development</a> page! Below is a summary of my work experience and other background information. Feel free to contact me with any questions or comments!
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Skills:</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			<table>
				<tr>
					<td>- Java </td>
					<td>- C </td>
					<td>- C++ </td>
					<td>- HTML </td>
					<td>- CSS </td>
					<td>- Ruy on Rails </td>
				</tr>
				<tr>
					<td>- Leadership </td>
					<td>- Interpersonal Communications </td>
					<td>- Office </td>
					<td>- Basic Photoshop </td>
					<td>- Teamwork </td>
					<td>- Linux </td>
				</tr>
			</table>
		</div>
	</div>

	<!-- Work Divider -->
	<div class="row" style="margin-bottom:20px; margin-top: 50px">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size: 100%">
			Work Experience
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
	</div>


	<div class="row" style="margin-bottom:20px">
		<h2>RSA, The Security Division of EMC2</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			Shift Manager | Senior Anti-Fraud Analyst
			<ul>
				<li>Responsible for detecting and analyzing cyber-crimes (Phishing, Malware, Brand Abuse, etc.)</li>
				<li>Taking prevention steps, terminating online frauds and performing computer forensic analysis.</li>
				<li>Comprehensive knowledge of website structures and related authorities (ISP’s, Registrar, Webhosting, etc.)</li>
				<li>Communicating with customers to update on attack status</li>
			</ul>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Android Developer</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			In my free time, I am slowly teaching myself how to develop Android applications. See <a class="mylink" href="/pages/projects">Projects</a> for examples.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Meijer</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			General Merchandise Clerk<br>
			I was responsible for helping customers locate items, stocking shelves, organizing product and keeping shelves clean, organizing and maintaining the backroom, as well as odd tasks around the store.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Cart Staff</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			Coyote Crossing Golf Course and Birk Boilermaker Golf Complex<br>
			The role of cart staff is relatively standard accross the golf courses in West Lafayette. My responsibilities included: cleaning, prepping, and staging golf carts, picking the range clean of golf balls, greeting customers, helping with bag drops during outings, and anything else to help the course run more smoothly.
		</div>
	</div>

	<!-- Education Divider -->
	<div class="row" style="margin-bottom:20px; margin-top: 50px">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size: 100%">
			Education
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Purdue University</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			I am a full time student at Purdue University studying Computer Science with a focus in Software Engineering. In my free time, I will try to teach myself something new related to Computer Science. My interests inlcude web development, Android application development, computer security, and scripting. I enjoy attending Hack-a-thons and challenging myself to develop something new in a weekend.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Online Courses</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			I have taken several online courses through Udemy.com which have enhanced by knowledge and abilities with web development, Git version control, Android development, and others. 
		</div>
	</div>
</div>