
	<style>
		.entry {
			background-color: #1C1C1C;
			box-shadow: 0px 0px 25px black; 
			margin: 10px 0px 10px 0px; 
			padding: 10px 10px 10px 10px; 
			font-size: 85%;
		}
		h2{
			color: #00ACE6;
		}
		.mylink:hover:visited{
			color:#0095D8;
			background-color: transparent;
		}
		.mylink:hover{
			color:#0095D8;
			background-color: transparent;
			text-decoration: none;
		}
		.mylink:link{
			color:#00ACE6;
			margin-right: 0px;
		}
		.mylink:visited{
			color:#00ACE6;
			background-color: none;
		}
		td {
			padding-right: 10px;
		}
		hr {
			border-color: white;
		}
		.box {
			border: 2px solid red;
			width: 100px;
		}
	</style>
	<script>
$(document).ready(function(){
	// Row 1
	$(".detailsLeft1").hide();
    $(".expandingBoxLeftRow1").click(
    	function(){
	        $(this).animate({width: '100%', height: '400px'}, 1000);
	        $("#row1").animate({height:'400px'}, 1000);
	        $(".detailsLeft1").delay(1000).show('500');
    	},
		function(){
			$(this).animate({width: '15%', height: '50px'}, 1000);
			$("#row1").animate({height:'50px'}, 1000);
			$(".detailsLeft1").hide('slow');
    	}
	);
	$(".detailsRight1").hide();
    $(".expandingBoxRightRow1").hover(
    	function(){
	        $(this).animate({width: '75%', height: '400px'}, 1000);
	        $("#row1").animate({height:'400px'}, 1000);
	        $(".detailsRight1").delay(1000).show('500');
    	},
		function(){
			$(this).animate({width: '15%', height: '50px'}, 1000);
			$("#row1").animate({height:'50px'}, 1000);
			$(".detailsRight1").hide('slow');
    	}
	);
	//row 2
});
</script> 

<div class="" align="left" style="border: 2px solid blue; padding: 40px">
	<div id="row1" style="border: 2px solid red"> <!-- row 1 -->
		<!-- BOX 1 -->
		<div class="expandingBoxLeftRow1" style="display: inline-block; border: 2px solid yellow; width: 15%; height: 50px;">
			<div align="center" style="background-color: black"><h3>Education</h3></div>
			<div class="detailsLeft1 container-fluid" style="background-color: black; width: 100%">
				<h3 style="text-shadow: 2px 2px 4px #00ACE6">Purdue University</h3>
				<div style="margin: 5px 10px 8px 10px">
					<hr style="margin:3px 0px 10px 0px">
				</div>
				<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 entry" align="left">
					I am a full time student at Purdue University studying Computer Science with a focus in Software Engineering. In my free time, I will try to teach myself something new related to Computer Science. My interests inlcude web development, Android application development, computer security, and scripting. I enjoy attending Hack-a-thons and challenging myself to develop something new in a weekend.
				</div>
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 entry" align="center">
					<img src="/images/purdue.png" style="width: 100%">
				</div>
				<br>
				<h3>Online Courses</h3>
				<div style="margin: 5px 10px 8px 10px">
					<hr style="margin:3px 0px 10px 0px">
				</div>
				<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 entry" align="left">
					I have taken several online courses through Udemy.com which have enhanced by knowledge and abilities with web development, Git version control, Android development, and others. 
				</div>
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 entry" align="center">
					<img src="/images/purdue.png" style="width: 100%"> <!-- THIS NEEDS TO BE CHANGED TO UDEMY LOGO and the EXPANSION NEEDS TO BE ADJUSTED -->
				</div>
			</div>
		</div>

		<!-- BOX 2 -->
		<div class="expandingBoxRightRow1" style="display: inline-block; border: 2px solid orange; float: right; width: 15%; position:relative ;text-align: right; height: 50px;">
			box 2 Skills
			<div class="detailsRight1 container" style="background-color: black; width: 100%">
				<h2>Skills:</h2>
				<div style="margin: 5px 10px 8px 10px">
					<hr style="margin:3px 0px 10px 0px">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
					<table>
						<tr>
							<td>- Java </td>
							<td>- C </td>
							<td>- C++ </td>
							<td>- HTML </td>
							<td>- CSS </td>
							<td>- Ruy on Rails </td>
						</tr>
						<tr>
							<td>- Leadership </td>
							<td>- Interpersonal Communications </td>
							<td>- Office </td>
							<td>- Basic Photoshop </td>
							<td>- Teamwork </td>
							<td>- Linux </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div><!-- row 1 -->

	<div id="row2" style="border: 5px solid cyan; height: 50px"><!-- row 2 -->
		<!-- BOX 3 -->
		<div class="expandingBoxLeftRow2" style="display: inline; position: absolute; border: 2px solid orange; width: 15%; text-align: left; height: 50px;">
			box 3 RSA Security
		</div>
		<!-- BOX 4 -->
		<div class="expandingBoxRightRow2" style="display: inline-block; border: 2px solid orange; float: right; width: 15%; position:relative ;text-align: right; height: 50px;">
			box 4 Meijer
		</div>
	</div><!-- row 2 -->

	<div id="row3" style="border: 5px solid purple; height: 50px"><!-- row 3 -->
		<!-- BOX 5 -->
		<div class="expandingBoxLeftRow3" style="display: inline; position: absolute; border: 2px solid orange; width: 15%; text-align: left; height: 50px;">
			box 5 Android Developer
		</div>
		<!-- BOX 6 -->
		<div class="expandingBoxRightRow3" style="display: inline-block; border: 2px solid orange; float: right; width: 15%; position:relative ;text-align: right; height: 50px;">
			box 6 Cart Staff
		</div>
	</div><!-- row 3 -->
</div><!-- blue box... -->

<div class="container" align="center" style="margin:10px 15px 5px 15px; font-size: large">
	<div class="row" style="margin-bottom:20px">
		<h1 style="text-shadow: 2px 2px 4px #00ACE6">A Little About Me</h1>
		<!--<div style="margin: 5px 10px 8px 10px">
			<hr style="border-color: white; margin:3px 0px 10px 0px">
		</div>-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="center">
			I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interst in security. I like to keep myself busy with projects such as: building software to be used in RSA Security's Anti-Fraud Command Center, building Android applications with various purposes, contructing my own NFC ring for controller my phone, and many more. Check out my other endevors on my <a class="mylink" href="/pages/projects">Projects</a> page and my <a class="mylink" href="/pages/inDevelopment">In Development</a> page! Below is a summary of my work experience and other background information. Feel free to contact me with any questions or comments!
			<br><br>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<h2>Skills:</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
		
			<table>
				<tr>
					<td>- Java </td>
					<td>- C </td>
					<td>- C++ </td>
					<td>- HTML </td>
					<td>- CSS </td>
					<td>- Ruy on Rails </td>
				</tr>
				<tr>
					<td>- Leadership </td>
					<td>- Interpersonal Communications </td>
					<td>- Office </td>
					<td>- Basic Photoshop </td>
					<td>- Teamwork </td>
					<td>- Linux </td>
				</tr>
			</table>
			
		</div>
	</div>

	<!-- Work Divider -->
	<div class="row" style="margin-bottom:20px; margin-top: 50px">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size: 100%">
			Work Experience
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
	</div>


	<div class="row" style="margin-bottom:20px">
		<h2>RSA, The Security Division of EMC2</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			Shift Manager | Senior Anti-Fraud Analyst
			<ul>
				<li>Responsible for detecting and analyzing cyber-crimes (Phishing, Malware, Brand Abuse, etc.)</li>
				<li>Taking prevention steps, terminating online frauds and performing computer forensic analysis.</li>
				<li>Comprehensive knowledge of website structures and related authorities (ISP’s, Registrar, Webhosting, etc.)</li>
				<li>Communicating with customers to update on attack status</li>
			</ul>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Android Developer</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			In my free time, I am slowly teaching myself how to develop Android applications. See <a class="mylink" href="/pages/projects">Projects</a> for examples.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Meijer</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			General Merchandise Clerk<br>
			I was responsible for helping customers locate items, stocking shelves, organizing product and keeping shelves clean, organizing and maintaining the backroom, as well as odd tasks around the store.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Cart Staff</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			Coyote Crossing Golf Course and Birk Boilermaker Golf Complex<br>
			The role of cart staff is relatively standard accross the golf courses in West Lafayette. My responsibilities included: cleaning, prepping, and staging golf carts, picking the range clean of golf balls, greeting customers, helping with bag drops during outings, and anything else to help the course run more smoothly.
		</div>
	</div>

	<!-- Education Divider -->
	<div class="row" style="margin-bottom:20px; margin-top: 50px">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size: 100%">
			Education
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Purdue University</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			I am a full time student at Purdue University studying Computer Science with a focus in Software Engineering. In my free time, I will try to teach myself something new related to Computer Science. My interests inlcude web development, Android application development, computer security, and scripting. I enjoy attending Hack-a-thons and challenging myself to develop something new in a weekend.
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<h2>Online Courses</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="margin:3px 0px 10px 0px">
			</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="left">
			I have taken several online courses through Udemy.com which have enhanced by knowledge and abilities with web development, Git version control, Android development, and others. 
		</div>
	</div>
</div>