<div class="container-fluid">
	<div class="row" style="background-color:#292929; margin: 0px 10px 10px 10px; box-shadow: 3px 3px 8px #9C9C9C">
		<!-- My name and intro paragraph --> 
		<div class="col-md-6">
			<h1 style="font-size: 450%; color: white; text-shadow: 0px 4px 6px black">
				Nicholas<br>
				Alexander<br>
				Schumacher<br>
			</h1>
			<p style="font-size: 105%">
				Most people just call me Nick. I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interst in security. I like to keep myself busy with projects such as: building software to be used in <span style="color:#BA0000">RSA Security's Anti-Fraud Command Center</span>, building <span style="color:#00AD37">Android</span> applications with various purposes, contructing my own NFC ring for controller my phone, and many more. Check out my other endevors on my <a href="/pages/projects">Projects</a> page and my <a href="/pages/inDevelopment">In Development</a> page and feel free to contact me with any questions or comments!
			</p>
		</div>

		<!-- My picture -->
		<div class="col-md-6" align="right">
			<img src="/mypic.jpg" style="width: 60%">
		</div>
	</div>
</div>
