<%= stylesheet_link_tag "home", media: "all" %>

<div id="tilt-out">
	<div id="tilt-in" style="border: 2px inset rgba(200,200,200,.2); padding: 40px 40px 40px 40px; overflow-y:auto">
		<!-- Navigation pane -->
		<div align="" style="">
			<%= render 'layouts/navigation' %>
		</div>

		<hr style="border-color: rgba(240,240,240,.4)">

		<!-- Intro Title -->
		<div class="intro row">
			<div class="col-xs-12 col-md-3">
				<div id="pageLabel">
					<h1 align="center" style="margin-bottom: 10px;">Home</h1>
				</div>
			</div>
			<div class="col-xs-12 col-md-9">
				<div id="pageSummary">
					Nicholas A. Schumacher
				</div>
			</div>
		</div>


		<!-- Intro Statement -->
		<div class="bod" align="center">
			<h2 style="font-size: 150%">
				I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interst in security. I like to keep myself busy with projects such as: building software to be used in RSA Security's Anti-Fraud Command Center, building Android applications with various purposes, contructing my own NFC ring for controlling my phone, and many more. <br><br>
				Whether it's building an Android application, a website, or something entirely new, I am always up for a new challenge! <br><br>

				Check out my current projects and send me an email if you have questions<br>
				or an new challenges for me!
			</h2>
		</div>

		<div class="foot" align="right">
			<%= render 'layouts/myFooter' %>
		</div>
	</div>
</div>