<%= stylesheet_link_tag "home", media: "all" %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", media: "all" %>

<div id="tilt-out">
	<div id="tilt-in">
		<!-- Navigation pane -->
		<div align="" style="">
			<%= render 'layouts/navigation' %>
		</div>

		<hr class="separator">

		<div id="collapseBody">
			<!-- Intro Title -->
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<div id="pageLabel">
							<h1 align="center">Home</h1>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<div id="pageSummary">
						Nicholas A. Schumacher
					</div>
				</div>
			</div>


			<div class="row bod" id="home_content" align="center">
				<div class="col-sm-0 col-lg-3" id="pic_box">
					<img id="interests_pic" src="/images/interests.png" alt="Interests">
				</div>
				<div class="col-sm-12 col-lg-9">
					<h2>
						I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interest in security. I like to keep myself busy with
						 projects such as: building software to be used in RSA Security's Anti-Fraud Command Center, learning Android development, constructing my own NFC ring for controlling my phone, and working on other Rails applications. <br><br>
						 Whether it's building an Android application, a website, or something entirely new, I am always up for a new challenge! <br><br>

						Check out my current projects and send me an email if you have questions<br>
						or any new challenges for me!
					</h2>
				</div>
			</div>

		</div>

		<hr class="separator">
		<div class="foot" align="right">
			<%= render 'layouts/myFooter' %>
		</div>
	</div>
</div>
