<style>
	.intro {
		background: rgba(70, 70, 70, 0.7);
	    /*box-shadow: 6px 6px 15px gray;*/
	    margin: 10px 0px 10px -12px;
	    padding: 10px;
	    text-shadow: 2px 2px 4px #00ACE6;
	}
	.bod {
		background: rgba(70, 70, 70, 0.7);
	    /*box-shadow: 6px 6px 15px gray;*/
	    margin: 10px 0px 5px -12px;
	    padding: 10px 10px 0px 10px;
	    text-shadow: 2px 2px 4px #00ACE6;
	}
	.foot {
		float: right;
		background: rgba(70, 70, 70, 0.7);
	    /*box-shadow: 6px 6px 15px gray;*/
	    width: 300px;
	    margin: 0px 0px 0px 5px;
	    padding: 0px 5px 0px 5px;
	    text-shadow: 2px 2px 4px #00ACE6;	
	}
</style>

<div style="background-color: rgba(200,200,200,.1); margin: ; padding: 40px 40px 70px 40px;">
	<!-- Navigation pane -->
	<div align="" style="">
		<%= render 'layouts/navigation' %>
	</div>

	<!-- Intro Title -->
	<div class="intro" align="">
		<h1 align="center">Nicholas A. Schumacher</h1>
	</div>

	<!-- Intro Statement -->
	<div class="bod" align="center">
		<h2 style="font-size: 150%">
			Whether it's building an Android application, a website, or something entirely new, I am always up for a new challenge! <br><br>

			Check out my current projects and send me an email if you have questions<br>
			or an new challenge for me!
		</h2>
	</div>

	<div class="foot" align="right">
		<%= render 'layouts/myFooter' %>
	</div>

</div>