<style>
	.entry {
		background-color: #1C1C1C;
		box-shadow: 0px 0px 25px black; 
		padding: 5px 10px 5px 10px; 
		font-size: 18px
	}
	h2{
		color: #00ACE6;
	}
</style>

<div class="container" align="center" style="margin:10px 15px 5px 15px; font-size: large">
	<div class="row" style="margin-bottom:20px">
		<h1 style="text-shadow: 2px 2px 4px #00ACE6">Projects in Development</h1><br>
			<!--<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 entry" align="center" style="">
			The projects listed below are what I dedicate most of my free time to. They are larger projects with many stages and require a great amount of work. Figuring out how to implement them as well as performing the actual implementation takes a plethora of hours. Brief descriptions are listed below however, you can send me an email if you wish to know more!
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/arctis-words.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center">
			<h2>Arctis</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Arctis is my Android developer name. Any and all Android applications I create can be found on the Google Play Store by searching Arctis.<br><br>
				Current projects include an asthetic skin pack to make your device look and feel more futuristic, several games, and a couple utility applications. 
			</p>
			<br><br>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/centurion_1.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center">
			<h2>Centurion</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Centurion is a full suite of applications designed to optimize the office workflow of an office. This project is still in the works. The details are currently classified however, information <i>may</i> be released upon request.
			</p>
			<br><br><br>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/kari_logo.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center">
			<h2>K.A.R.I.</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Knowledgeable Auto-Responsive Interface, or KARI for short, is the the brain behind the smart evironment I am currently developing. KARI will allow control over everything from lighting to temperature control to the settings in your car and just about everything in between.<br><br>
				She is still in the early stages of development.
			</p>
			<br><br>
		</div>
	</div>
</div>
