<!-- <div style="margin-top:0px;"> -->
	<div class="row" style="">
        <!-- Left Panel -->
        <div id="profile-left-panel" class="small-12 large-7 columns">
            <div style="font-size: 21px; margin-bottom: 20px;">
                <b>A little about me, Nick Schumacher</b>
            </div>
            
            <div style="font-size: 14px;">
                I graduated from Purdue University with a Bachelor's degree in Computer Science in May 2017. After working in cyber security,
                automated testing, and web development, my interest in consulting has evolved into a passion as I work for Appirio.<br/><br/>
        
                My consulting role at Appirio is that of a Salesforce Tech Lead. Architecting and implementing solutions to complex problems
                has become my favorite type of work to do here as it is both both challenging and extremely satisfying.<br/><br/>
        
                While solving complex problems with code will always be entertaining, I do find other ways to relax. I am an avid
                golfer and movie enthusiast who loves trying new beers just as much as working out. Much of my free time is spent with friends,
                but I also enjoy learning about new and new-to-me technologies and diversifying my development skills.<br/><br/>

                The Vault was an idea that came to me as I wanted a place to share my thoughts, ideas, and notes with others as well as
                engage in discussions about topics that interest me with other enthusiasts. You will find, more often than not, I am quite
                blunt in my entries as I am not the type of person to beat around the bush. If you disagree with anything in the Vault, I
                highly encourage you to let me know. Disagreements and the discussions that spawn from them are fuel for growth and learning.
                Please enjoy the site and feel free to reach out to me directly via your prefered social media outlet.<br/> <br/>
            </div>

            <div style="font-size: 21px; margin-bottom: 20px;">
                <b>The Legend of Sir Nicholas</b>
            </div>
            <div style='font-size: 14px'>
                The nickname, Sir Nicholas, is something I have carried with me for most of my life. When I was four
                years old, my parent's friends crafted me a sword and shield to use in my constant imaginary battles
                with the forces of evil. Painted on the shield was an image of a knight and enscribed around the bottom
                edge was the name "Sir Nicholas." They were simple wooden toys to any adult, but to me, they were the legendary equipment 
                of noble knight. The knights of old lived by a code...While the sword was lost in battle long ago, the shield hangs in my 
                office to this day. It is a constant reminder of 
            </div>

            <!--<div style="font-family: 'Mr Dafoe', cursive; font-size: 35px; display: inline-block; margin-left: 15px; margin-top:20px;">
                Nick Schumacher
            </div>-->
        
            <div style="margin: 20px 0px;" align="center">
                <div id="profile-github-hex-icon" class="profile-hex-icon">
                    <a href="https://github.com/nschumacher" style="margin-right: 10px">
                        <img src="/assets/github_hex_icon.png" style="width: 50px">
                    </a>
                </div>
                <div id="profile-linkedin-hex-icon" class="profile-hex-icon">
                    <a href="https://www.linkedin.com/in/nicholasaschumacher" style="margin-right: 10px">
                        <img src="/assets/linkedin_hex_icon.png" style="width: 50px;">
                    </a>
                </div>
                <div id="profile-insta-hex-icon" class="profile-hex-icon">
                    <a href="https://www.instagram.com/sir_nicholas0/" style="margin-right: 10px">
                        <img src="/assets/insta_hex_icon.png" style="width: 50px;">
                    </a>
                </div>
                <div id="profile-twitter-hex-icon" class="profile-hex-icon">
                    <a href="https://twitter.com/sir_nicholas0" style="margin-right: 10px">
                        <img src="/assets/twitter_hex_icon.png" style="width: 50px;">
                    </a>
                </div>
                <div id="profile-fb-hex-icon" class="profile-hex-icon">
                    <a href="https://www.facebook.com/nick.schumacher.357" style="margin-right: 10px">
                        <img src="/assets/fb_hex_icon.png" style="width: 50px">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Left Panel -->

        <!-- Right Panel -->
        <div id="profile-right-panel" class="small-12 large-5 columns" align="center">
            <img src="/assets/hawaii.jpg" style="width: 94%; margin-top:20px;">
            <div style="font-size: 12px; font-style: italic; margin-top: 10px;">My lovely girlfriend Emma and I at Mokoli'i - a.k.a. Chinaman's Hat on Oahu</div>
        </div>
        <!-- End Right Panel-->
    </div>
<!-- </div> -->