<style>
	.entry {
		background-color: #1C1C1C;
	}
	h2{
		color: #00ACE6;
	}
</style>


<div class="container" align="center" style="margin:10px 15px 5px 15px; font-size: large">
	<!-- Completed Projects -->
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/apptitutor.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>ApptiTutor</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				While going to school full time, classes can get tough and some students require additional tutoring. Purdue University does not offer a system dedicated to students finding tutors and tutors offering their services for specific classes. While bulletin boards with flyers offering tutoring services exist throughout almost every building, many students ignore or do not notice these postings. The solution? ApptiTutor! Built on Ruby on Rails, this web application makes it easy for students to find and communicate with tutors that fit their specific needs!
			</p>
			<p align="center" style="font-size: 80%">
				<a class="link" href="http://apptitutor.herokuapp.com/">Click here to visit the site!</a>
			</p>
			<br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/linux_shell_1.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>Linux Shell</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				In one of my Computer Science courses, we were tasked with building a Linux shell. The languages used in its construction are: Lex, Yacc, and C. The shell performs similarly to a Linux terminal minus a few features however, it can handle complex grammer including pipes and I/O redirections.
			</p>
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/tree.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>Pattern Matcher</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				As part of an assignment, I constructed a program to find specific patterns in Java Trees. The program was constructed using Java and can match both branching and non branching patterns.
			</p>
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/logo-wolfram-alpha.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>WolfRam Aplha Expanded and Simplified Notation Look-A-Like</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				As part of an assignment, I constructed a program similar to WolfRamAplha's "expanded notation." Built using Java code, this program takes complicated polynomials, expands them out, and simplifies them to the simplest form. 
			</p>
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/newsymbol512.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>FutureTech UI</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Are you tired of your Android phone looking like everyone else's? Do you wish your phone looked cooler? Have you seen the Iron Man movies and wished you were Tony Stark or you that you had your own J.A.R.V.I.S. AI? If you answered yes to any of the above, then this app if just what you need. Inspired by Stark technology, the FutureTech UI will give you that futuristic look and with minimal setup! This application includes a set of skins to be used with UCCW to enhance your phone's user experience.
			</p>
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/boilermake.png" style="width:100%; margin-top:25%;">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>SpeakCast</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				SpeakCast was an idea I came up with as the one of the first phases of a smart environment powered by Android. This Android app would speak aloud a weather forcast as well as display it onscreen after your morning alarm went off. Currently, the app can speak aloud the forcast and display it. Future work on this application will tie it to an alarm and improve the aethetics.
			</p>
			<br><br>
		</div>
	</div>

	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/purdue.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>Purdue Safe Walk</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				As part of an assignment, I constructed a clone for Purdue University's SafeWalk program. This was built in Java using a client-server architecture. Students could put in a request to be escorted by a volunteer during any hour of the night. Students were assigned a volunteer on a first-come-first-served basis.
			</p>
			<br><br>
		</div>
	</div>


	<!-- _____________________________-Currently in Dev Divider-_____________________________ -->
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			Currently In Development
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top: 10px">
			<hr style="border-color: #00ACE6; margin:3px 0px 8px 0px">
		</div>
	</div>

	<!-- Projects in Dev -->
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/arctis-words.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>Arctis</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Arctis is my Android developer name. Any and all Android applications I create can be found on the Google Play Store by searching Arctis.<br><br>
				Current projects include an asthetic skin pack to make your device look and feel more futuristic, several games, and a couple utility applications. 
			</p>
			<br><br>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/centurion_1.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>Centurion</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Centurion is a full suite of applications designed to optimize the office workflow of an office. This project is still in the works. The details are currently classified however, information <i>may</i> be released upon request.
			</p>
			<br><br>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="left" style="">
			<img src="/images/kari_logo.png" style="width:100%; margin-right:0px">
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 entry" align="center" style="box-shadow: 2px 2px 6px white; ">
			<h2>K.A.R.I.</h2>
			<div style="margin: 5px 10px 8px 10px">
				<hr style="border-color: #00ACE6; margin:3px 0px 10px 0px">
			</div>
			<p align="left" style="color:white; font-size: 80%; padding: 0px 10px 0px 10px">
				Knowledgeable Auto-Responsive Interface, or KARI for short, is the the brain behind the smart evironment I am currently developing. KARI will allow control over everything from lighting to temperature control to the settings in your car and just about everything in between.<br><br>
				She is still in the early stages of development.
			</p>
			<br><br>
		</div>
	</div>
</div>
