<style>
#summary {
	border: 2px solid blue;
	height: 100%;
	padding: 12% 0% 12% 0%;
}
#mypicture {
	border: 2px solid red;
	height: 100%;
}
#sumpic{
	border:2px solid cyan;
	height: 400px;
}
</style>
<script>

</script>

<div class="container-fluid" id="sumpic">
	<div class="row" style="height:100%">
		<div class="col-xs-7" id="summary">
		This box will be my summary
		</div>

		<div class="col-xs-5" id="mypicture">
		This will by my picture
		</div>
	</div>
</div>