<%= stylesheet_link_tag "navigation", media: "all" %>

<!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'> -->
<style>
	.navbar{
	  margin-bottom: 0px;
	  background: transparent;
	  font-family: 'Josefin Sans', sans-serif;
	}
    body {
	    padding: 50px 0px;
	}
	@media(max-width:935px) {
	    .navbar .navbar-form {
	        width: 185px;
	        padding-left:0;
	        padding-right:0;
	    }
	}
	@media(min-width:936px) {
	    .navbar .navbar-form {
	        width: 250px;
	    }
	}
	.navbar .navbar-form {
	  overflow-y: auto;
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-right: 0;
	    margin-left: 0;
	}
	.navbar-inverse {
		border: none;
	}
	.nav li a {
	    position: relative;
	    display: block;
	    padding: 10px 0px;
	}
	@media (max-width: 1120px) {
	    .navbar-header {
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    .navbar-text {
	        float: none;
	        margin: 15px 0;
	    }
	    /* since 3.1.0 */
	    .navbar-collapse.collapse.in { 
	        display: block!important;
	    }
	    .collapsing {
	        overflow: hidden!important;
	    }
	}
</style>

<script>
$(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>



<div class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand pull-left hidden-xs" href="/" style="color: white">
         	<img src="/images/arctis-logo.png" style="width:30px; margin-top: -3px; margin-right: 8px" class="pull-left">
         	<div class="name" style="display:inline">Nick Schumacher</div>
         </a>
         <a class="navbar-brand pull-left visible-xs" href="/" style="color: white">
         	<img src="/images/arctis-logo.png" style="width:30px; margin-top: -3px; margin-right: 8px" class="pull-left">
         </a>
      </div>

      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
	     	<li>
	     		<% if current_page?(pages_home_path) || current_page?('/pages/test') %>
		        	<a href="/pages/home" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
			        	<div class="nav-box-current" align="center">
			            	Home
			          	</div>
		          	</a>
	        	<% else %>
		        	<a href="/pages/home" class="link">
			          	<div class="nav-box" align="center">
			            	Home
			          	</div>
		          	</a>
	        	<% end %>
	     	</li>
	     	<li>
	     		<% if current_page?(pages_about_path) %>
	        	
		        	<a href="/pages/about" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
			          	<div class="nav-box-current" align="center">
			            	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>About
			          	</div>
			        </a>
		        
	        	<% else %>
	        	
		        	<a href="/pages/about" class="link">
			          	<div class="nav-box" align="center">
			            	About
			          	</div>
			        </a>
		        
	        	<% end %>
	     	</li>
	     	<li>
	     		<% if current_page?(pages_inDevelopment_path) %>
				    <a href="/pages/inDevelopment" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
				        <div class="nav-box-current" align="center">
				        	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>
				            In Development
				        </div>
				    </a>
		        <% else %>
		        	<a href="/pages/inDevelopment" class="link">
			          	<div class="nav-box" align="center">
			           		In Development
			          	</div>
			        </a>
		        <% end %>
	     	</li>
	     	<li>
	     		<% if current_page?(pages_projects_path) %>
		        	<a href="/pages/projects" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
			          	<div class="nav-box-current" align="center">
			            	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>
			            	Projects
			          	</div>
			        </a>
		        <% else %>
		        	<a href="/pages/projects" class="link">
			          	<div class="nav-box" align="center">
			            	Projects
			          	</div>
			        </a>
		        <% end %>
	     	</li>
	     	<li>
	     		<% if current_page?(good_to_knows_path) %>
			        <a href="/good_to_knows/" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
			          	<div class="nav-box-current" align="center">
			            	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>
			            	Database
			          	</div>
			        </a>
		        <% else %>
		        	<a href="/good_to_knows/" class="link">
			          	<div class="nav-box" align="center">
			            	Database
			          	</div>
			        </a>
		        <% end %>
	     	</li>
	     	<li>
	     		<% if current_page?('/contacts/new') %>
			        <a href="/contacts/new" style="color: white; text-shadow: 2px 2px 6px #00ACE6; font-style: italic" class="link">
			          	<div class="nav-box-current-last" align="center">
			            	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>
			            	Contact
			          	</div>
			        </a>
		        <% else %>
		        	<a href="/contacts/new" class="link">
			          	<div class="nav-box-last" align="center">  
			            	Contact
			          	</div>
			        </a>
		        <% end %>
	     	</li>
         </ul>

      </div>
      <!--/.navbar-collapse -->
   </div>
</div>






<!--<%= stylesheet_link_tag "navigation", media: "all" %>
<div class="" >
    <div class="" align="right">
        <div class="row" style="margin-top: 15px; font-size: 15px">
        	

        	<div class="name-box col-xs-8 col-sm-7 col-md-6 col-lg-5" align="" style="display: ">
					<a href="/pages/home" style="color: white; text-decoration: none; background-color: transparent">
						<img src="/images/arctis-logo.png" style="width:45px; margin-right:10px; margin-top: -10px">
						<div class="name">Nick Schumacher</div>
					</a>
			</div>

			<div class="col-xs-4 col-sm-5 col-md-6 col-lg-7" style="overflow: auto;padding-right: -999px">
			<div style="float: left; margin-right: -999px; white-space: ;">
	        <% if current_page?(pages_home_path) || current_page?('/') %>
	        	<div style="display: inline-block; margin-right: 20px">
	        	<a href="/pages/home" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
		        	<div class="nav-box-current" align="center">
		            	<!-- <div style="height: 3px; background-color: #00ACE6">&nbsp</div> Home
		          	</div>
	          	</a>
	          	</div>
	        <% else %>
	        	
	        	<a href="/pages/home" class="link">
		          	<div class="nav-box" align="center">
		            	Home
		          	</div>
	          	</a>
	          	
	        <% end %>
	        <% if current_page?(pages_about_path) %>
	        	
	        	<a href="/pages/about" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
		          	<div class="nav-box-current" align="center">
		            	<!-- <div style="height: 3px; background-color: #00ACE6">&nbsp</div> About
		          	</div>
		        </a>
		        
	        <% else %>
	        	
	        	<a href="/pages/about" class="link">
		          	<div class="nav-box" align="center">
		            	About
		          	</div>
		        </a>
		        
	        <% end %>
	        <% if current_page?(pages_inDevelopment_path) %>
	        	
			    <a href="/pages/inDevelopment" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
			        <div class="nav-box-current" align="center">
			        	<!-- <div style="height: 3px; background-color: #00ACE6">&nbsp</div> 
			            In Development
			        </div>
			    </a>
			    
	        <% else %>
	        	
	        	<a href="/pages/inDevelopment" class="link">
		          	<div class="nav-box" align="center">
		           		In Development
		          	</div>
		        </a>
		        
	        <% end %>
	        <% if current_page?(pages_projects_path) %>
	        	
	        	<a href="/pages/projects" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
		          	<div class="nav-box-current" align="center">
		            	<!-- <div style="height: 3px; background-color: #00ACE6">&nbsp</div> 
		            	Projects
		          	</div>
		        </a>
		        
	        <% else %>
	        	
	        	<a href="/pages/projects" class="link">
		          	<div class="nav-box" align="center">
		            	Projects
		          	</div>
		        </a>
		        
	        <% end %>
	        <% if current_page?(good_to_knows_path) %>
	        	
		        <a href="/good_to_knows/" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
		          	<div class="nav-box-current" align="center">
		            	<!-- <div style="height: 3px; background-color: #00ACE6">&nbsp</div> 
		            	The Vault
		          	</div>
		        </a>
		        
	        <% else %>
	        	
	        	<a href="/good_to_knows/" class="link">
		          	<div class="nav-box" align="center">
		            	The Vault
		          	</div>
		        </a>
		        
	        <% end %>
	        <% if current_page?('/contacts/new') %>
	        	
		        <a href="/contacts/new" style="color: white; text-shadow: 1px 1px 6px #00ACE6; font-style: italic" class="link">
		          	<div class="nav-box-current-last" align="center">
		            	<div style="height: 3px; background-color: #00ACE6">&nbsp</div>
		            	Contact
		          	</div>
		        </a>
		        
	        <% else %>
	        	
	        	<a href="/contacts/new" class="link">
		          	<div class="nav-box-last" align="center">  
		            	Contact
		          	</div>
		        </a>
		        
	        <% end %>
	        </div>
	        </div>
	     </div>
    </div>
</div> -->