@import 'color_palette';
@import 'perspective';
@import 'label_and_summary';
a:link {
	// text-decoration: none;
}
.Title:hover {
	color: white;
}
.Title:link {
	color: white;
}
.mylink:hover:visited{
	color: $primary_blue_1;
	background-color: transparent;
}
.mylink:hover{
	color: $primary_blue_1;
	background-color: transparent;
	text-decoration: none;
}
.mylink:link{
	color: $primary_blue;
	margin-right: 0px;
	text-decoration: none;
}
.mylink:visited{
	color: $primary_blue;
	background-color: none;
}
td {
	padding-right: 10px;
}
hr {
	border-color: white;
}
.my-accordion-container {
  // padding: 0px 10px 5px 20px;
}
$accordion-background:rgba($base_color_alt_2, .5) !important;
$accordion-content-background:rgba($base_color_alt_2, .5) !important;
$accordion-content-border: none;
$accordion-item-background-hover:rgba($base_color_alt_2, .5) !important;
.accordion-content {
	background: transparent;
	border: none;
}
.accordion-item a:focus {
	background:rgba($base_color_alt_2, .5) !important;
}
.accordion-title {
	border: none;
	border-bottom: 1px solid $primary_blue_1;
	  padding: .5rem 2rem;
	.Title {
		text-shadow: $primary_text_shadow;
	}
}
.accordion-title::before {
	font-size: 1.8em;
}
.accordion-item {
	font-family: 'Share Tech', sans-serif !important;
	background: rgba($base_color_alt_2, .5) !important;
	a:hover {
		background: rgba($base_color_alt_2, .6) !important;
	}
	a:visited {
		background: rgba($base_color_alt_2, .6) !important;
	}
}
.accordion {
	font-family: 'Share Tech', sans-serif !important;
	background: transparent;
	border:none;
	box-shadow: 6px 6px 10px $primary_box_shadow_color;
}
#chartdiv {
	height: 230px;
	font-size: 15px;
	margin-left: -12px;
	text-shadow: $primary_text_shadow;
}
.skillBox {
	background: rgba($base_color_alt_2, .5);
	text-shadow: $primary_text_shadow;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: $primary_box_shadow;
	li {
		font-size: .8em;
		span {
			position: relative;
			left: -15px;
		}
	}
}
.media-object-section{
	min-width: 125px;
}
// THIS ONE
.panel-body {
	color: white;
	text-shadow: $primary_text_shadow;
	border: 1px solid rgba($primary_color_alt_2, .7);
	padding: 10px;
	font-size: 16px;
}
.panel-title {
	font-size: 20px;
}
.panel-subTitle {
	color: white;
	text-shadow: $primary_text_shadow;
	margin-left: 15px;
	font-size: 15px;
	font-family: 'Rajdhani', sans-serif;
}
.panel {
	background-color: transparent;
	color: white;
}
.panel:hover {
	border-left: 4px solid white;
}
.panel:visited {
	border-left: 4px solid white;
}
.panel-heading {
	background-color: rgba($primary_color_alt_2, .5); //rgba(0,110,170,.5);
	border: 1px solid rgba($primary_color_alt_2, .7);//rgba(0,110,170,.7);
	box-shadow: $primary_box_shadow;
}
.panel-group {
	margin-bottom: 0px;
}
.pic {
	width: 96px;
}
.isSelected {
	border-left: 4px solid white;
}
.skillAccordion {
	margin-right: 5px;
}
.media-body {
	ul {
		padding-left: 20px;
	}
}
#pageLabel {
  text-shadow: 1px 1px 5px $primary_color_alt_3;
  padding: 10px 0px 5px 0px;
  margin-bottom: 10px;
  background-color: rgba($base_color_alt_2, .5);
  box-shadow: $primary_box_shadow;

  h1 {
    margin: 0px;
    font-size: 1.4em;
    padding: 0px;
  }
}
// @media(max-width:767px) {
// 	#test {
// 		max-height: 200px;
// 	}
// }
// @media only screen and (min-width:768px) and (max-width: 900px) {
// 	#test {
// 		max-height: 300px;
// 	}
// }
// @media only screen and (min-width:901px)  and (max-width: 1100px) {
// 	#test {
// 		max-height: 310px;
// 	}
// }
// @media(min-width:1101px) {
// 	#test {
// 		max-height: 400px;
// 	}
// }
