@import 'color_palette';
@import 'label_and_summary';

.Title:hover {
	color: white;
}
.Title:link {
	color: white;
}

td {
	padding-right: 10px;
}
#self-portrait {
	height: 350px;
	margin-bottom:5px;
	border: 2px solid $fuschia;
}
#self-portrait-comment {
	color: $stark;
}
$accordion-background:rgba($base_color_alt_2, .5) !important;
$accordion-content-background:rgba($base_color_alt_2, .5) !important;
$accordion-content-border: none;
$accordion-item-background-hover:rgba($base_color_alt_2, .5) !important;
.accordion-content {
	background: transparent;
	border: none;
}
.accordion-item a:focus {
	background:rgba($base_color_alt_2, .5) !important;
}
.accordion-title {
	border: none;
	border-bottom: 1px solid $primary_blue_1;
	  padding: .5rem 2rem;
	.Title {
		text-shadow: $primary_text_shadow;
	}
}
.accordion-title::before {
	font-size: 1.8em;
}
.accordion-item {
	font-family: 'Share Tech', sans-serif !important;
	background: rgba($base_color_alt_2, .5) !important;
	a:hover {
		background: rgba($base_color_alt_2, .6) !important;
	}
	a:visited {
		background: rgba($base_color_alt_2, .6) !important;
	}
}
.accordion {
	font-family: 'Share Tech', sans-serif !important;
	background: transparent;
	border:none;
	// box-shadow: 6px 6px 10px $primary_box_shadow_color;
}
#chartdiv {
	height: 230px;
	font-size: 15px;
	margin-left: -12px;
	text-shadow: $primary_text_shadow;
}
.skillBox {
	background: transparent;
	border: 1px solid $accent;
	color: $stark;
	margin-right: 5px;
	margin-bottom: 20px;
	padding: 10px;
	// box-shadow: $primary_box_shadow;
	li {
		font-size: .8em;
		span {
			position: relative;
			left: -10px;
		}
	}
}
#hobbies_box {
	background: transparent;
	border: 1px solid $accent;
	padding: 10px;
	color: $stark;
	h4 {
		color: $fuschia;
	}
}
.media-object-section{
	min-width: 125px;
}
// THIS ONE
.panel-body {
	color: white;
	text-shadow: $primary_text_shadow;
	border: 1px solid rgba($primary_color_alt_2, .7);
	padding: 10px;
	font-size: 16px;
}
.panel-title {
	font-size: 20px;
}
.panel-subTitle {
	color: white;
	text-shadow: $primary_text_shadow;
	margin-left: 15px;
	font-size: 15px;
	font-family: 'Rajdhani', sans-serif;
}
.panel {
	background-color: transparent;
	color: white;
}
.panel:hover {
	border-left: 4px solid white;
}
.panel:visited {
	border-left: 4px solid white;
}
.panel-heading {
	background-color: rgba($primary_color_alt_2, .5); //rgba(0,110,170,.5);
	border: 1px solid rgba($primary_color_alt_2, .7);//rgba(0,110,170,.7);
	// box-shadow: $primary_box_shadow;
}
.panel-group {
	margin-bottom: 0px;
}
.pic {
	width: 96px;
}
.cert_pic {
	width: 100px;
}
.isSelected {
	border-left: 4px solid white;
}
.skillAccordion {
	margin-right: 5px;
}
.media-body {
	ul {
		padding-left: 20px;
	}
}
#pageLabel {
  text-shadow: 1px 1px 5px $primary_color_alt_3;
  padding: 10px 0px 5px 0px;
  margin-bottom: 10px;
  background-color: rgba($base_color_alt_2, .5);
  // box-shadow: $primary_box_shadow;

  h1 {
    margin: 0px;
    font-size: 1.4em;
    padding: 0px;
  }
}
