@import "color_palette";

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 0px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba($primary_color_alt_2, 0.15);
}
::-webkit-scrollbar-thumb {
  background: rgba($primary_color_alt_2, 0.4);
}
/* End Scrollbar styling */
$body-font-family:'Rajdhani', sans-serif;

body {
  h4{
    font-family:'Orbitron', sans-serif;
  }
}
.scrollpoint {
  height: 50px;
  background: $gray;
}
.connections {
  .row {
    color: white;
  }
  background-color: $red; //#6C0008
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 6px $gray inset;
}
.title-bar {
  background-color: $gray;
}
.sticky {
  .is-anchored {
    margin-top: 0rem !important;
  }
}
body {
  background: $gray;
  font-family: 'Rajdhani', sans-serif;
}

section {
  font-family: 'Rajdhani', sans-serif !important;
  color: white;
  padding: 40px 0px;
  h1 {
    text-shadow: $primary_text_shadow;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
  }
  h3 {
    text-shadow: $primary_text_shadow;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
  }
  h4 {
    font-family: 'Rajdhani', sans-serif;
  }
  h6 {
    font-family: 'Rajdhani', sans-serif;
  }
  background: $gray; /* For browsers that do not support gradients */
  background-size: contain;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(top, $gray,  $light_blue, $gray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, $gray,  $light_blue, $gray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, $gray, $light_blue, $gray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, $gray, $light_blue, $gray); /* Standard syntax (must be last) */
}
.menu > li > a {
  display: inline;
}
