/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0, 172, 230, 0.15);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 172, 230, 0.4);
}
/* End Scrollbar styling */

.content:before {
  content: "";
  position: fixed;
  left: -20px;
  right: 0;
  top: -150px;
  z-index: -1;

  display: block;
  background-image: url('/images/office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 105%;
  height: 115%;

  -webkit-filter: blur(16px);
  -moz-filter: blur(16px);
  -o-filter: blur(16px);
  -ms-filter: blur(16px);
  filter: blur(16px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 0;
  color:white;
  font-family: Play;
}
body {
  background-color: black;
}


@media(max-width:770px) {
  #my_picture {
    visibility: hidden;
    display: none;
  }
}
