$void: #1B2124;//#26292c;// #0E0B16;
$fuschia: #A239CA;
$accent: #086F9C;
$stark: #E7DFDD;
$gray: #26292c; //#1D2529;
$accent_color_alt_1: #8E000A;
$green: #22E600;
$gold: #b99f0a;

$crimson: #b99f0a;//#8c010b;



// Colors
$white_background: rgba(80,80,80, 0.4);
$primary_blue: #2A6C78; //#00ACE6;
$primary_blue_1: #2A6C78;
$primary_box_shadow_color: rgba(0,0,0,.8);
$primary_text_shadow_color: rgba(70,70,70,.7);

// Standards using the colors
$primary_box_shadow: 6px 6px 10px $primary_box_shadow_color;
$primary_text_shadow: 1px 1px 2px $primary_text_shadow_color;

// Color Pallet
//$gray: rgb(40, 40, 40);

$purple: rgb(40, 24, 37);
$red: rgb(50, 12, 12); //rgb(40, 12, 12)
$blue: rgb(23, 32, 42); // (28, 34, 40)
$light_blue: #086F9C;
$white: #fff;



$base_color: #232323;
$base_color_alt_1: #383838;
$base_color_alt_2: #545454;
$base_color_alt_3: #727272;
$base_color_alt_4: #A8A8A8;

$primary_color: #023F4A;
$primary_color_alt_1: #115865;
$primary_color_alt_2: #2A6C78;
$primary_color_alt_3: #478793;
$primary_color_alt_4: #85B5BE;

$secondary_color: #253001;
$secondary_color_alt_1: #435600;
$secondary_color_alt_2: #6D8D00;
$secondary_color_alt_3: #8EB700;
$secondary_color_alt_4: #B8ED00;

$accent_color: #6C0008;
//$accent_color_alt_1: #8E000A;
$accent_color_alt_2: #AC000D;
$accent_color_alt_3: #C6000F;
$accent_color_alt_4: #CF000F;

// $gray: #232323;
$gray_alt_1: #343434;
$gray_alt_2: #505050;
$gray_alt_3: #686868;
$gray_alt_4: #A1A1A1;
$gray_alt_5: #D9D9D9;
