@import 'color_palette';
@import 'perspective';
@import 'label_and_summary';

.bod {
	background-color: rgba($base_color_alt_2, .5);
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  text-shadow: $primary_text_shadow;
  box-shadow: $primary_box_shadow;

	h2 {
		font-size: 1.2em;
		margin-top: 20px;
	}
	@media(max-width:1195px) {
		#interests_pic {
			display: none;
		}
		#pic_box {
			margin-top: 5px;
		}
		h2 {
			margin-top: 0px;
		}
	}
}

#pic_box {
	margin-top: 5px;
}
#home_content {
	max-height: 455px;
	overflow-y:auto;
	overflow-x: hidden;
	margin-bottom: 10px;
	font-size: .8em;
	padding: 10px;
}
#collapseBody {
	// overflow-y: auto;
	// overflow-x: hidden;
	margin-bottom: 10px;
	padding-top: 10px;
	// padding-right:15px;
	// min-height: 450px;
}
#zoom_warning {
	font-size: 20px;
	color: $primary_blue;
}
#interests_pic {
	width: 225px;
}

// Footer
.foot {
	float: right;
  width: 400px;
  margin: 0px 0px 0px 5px;
  padding: 0px 5px 0px 5px;
  text-shadow: 2px 2px 4px $primary_color_alt_2;
	#logout:link {
		color: white;
		text-decoration: none;
		background: transparent;
		margin-right: 10px;
	}
	#logout {
		color: white;
		margin-right: 10px;
		text-decoration: none;
		background: transparent;
	}
	#sign_in:link {
		color: white;
		text-decoration: none;
		background: transparent;
		margin-right: 10px;
	}
	#sign_in {
		color: white;
		margin-right: 10px;
		text-decoration: none;
		background: transparent;
	}
}
