@import 'color_palette';

#pageLabel {
  text-shadow: 1px 1px 5px $primary_color_alt_3;
  padding: 14px 0px 14px 0px;
  margin-bottom: 10px;
  background-color: rgba($base_color_alt_2, .5);
  box-shadow: $primary_box_shadow;

  h1 {
    margin: 0px;
    font-size: 1.4em;
    padding: 0px;
  }
}
#pageSummary {
  text-shadow: $primary_text_shadow;
  padding: 15px;
  margin-bottom: 10px;
  overflow: auto;
  background-color: rgba($base_color_alt_2, .5);
  text-align: center;
  font-size: 1em;
  box-shadow: $primary_box_shadow;
}
