@import 'color_palette'; // -17 0 12 -8

/*.sidenav {
	height: 100%;
	width: 70px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: transparent;//#26292c;
	overflow-x: hidden;
	border-right: 1px solid #818181;
}

#selected {	
	&::after {
		background: $crimson;
		content: '';
		height: 50px;
		width: 3px;
		float: right;
		position: relative;
		top: -12px;
		box-shadow: 0px 0px 1px 1px $crimson;
	}
}

.side_nav_icon_container {
	margin: 26px 0px;
	&:hover {
		&::after {
			background: $crimson;
			content: '';
			height: 50px;
			width: 3px;
			float: right;
			position: relative;
			top: -12px;
			box-shadow: 0px 0px 1px 1px $crimson;
		}
	}
}

.side_nav_icon {
	height: 20px;
}

.side_nav_icons_container {
	padding-top: 250%;
}

.main {
	margin-top: 51px;
    margin-left: 70px;
	height: calc(100% - 51px);
	width: calc(100% - 70px);
}

#top_nav {
	border-bottom: 1px solid #818181; 
	height: 51px; 
	width: 100%;
	margin-left: 70px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: transparent;//#26292c;
	overflow-x: hidden;
}

#top_nav_logo {
	display: none;
}

.top_nav_icon {
	height: 20px;
	margin: 6px 10px 0px 10px;
}

#top_nav_icons_container {
	height: 50px;
	display: none;
}
#top_container {
	display: inline;
	margin-left: 22%;
}

@media screen and (max-width: 768px) {
	.sidenav {
		width: 0px;
		border: none;
	}
	.main {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	#top_nav {
		margin-left: 0px;
	}
	#top_nav_logo {
		display: inline-block;
		border-right: 1px solid #818181;
		width: 70px;
	}
	#top_nav_icons_container {
		display: inline-block;
	}
}  */
$topbar-responsive-bg: transparent;//#1B2124;//$void;

.topbar-responsive {
  background: transparent;//#1B2124;
  padding: .4rem 3rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: $gold;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: transparent;//#1B2124;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: $gold;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

.menu.simple li + li {
  margin-left: 2rem !important;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: $gold;
  border-color: $gold;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

