@import 'color_palette'; // -17 0 12 -8

.sidenav {
	height: 100%;
	width: 70px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #26292c;
	overflow-x: hidden;
	border-right: 1px solid #818181;
}

#selected {	
	&::after {
		background: $crimson;
		content: '';
		height: 50px;
		width: 3px;
		float: right;
		position: relative;
		top: -12px;
		box-shadow: 0px 0px 1px 1px $crimson;
	}
}

.side_nav_icon_container {
	margin: 26px 0px;
	&:hover {
		&::after {
			background: $crimson;
			content: '';
			height: 50px;
			width: 3px;
			float: right;
			position: relative;
			top: -12px;
			box-shadow: 0px 0px 1px 1px $crimson;
		}
	}
}

.side_nav_icon {
	height: 20px;
}

.side_nav_icons_container {
	padding-top: 250%;
}

.main {
	margin-top: 51px;
    margin-left: 70px;
	height: calc(100% - 51px);
	width: calc(100% - 70px);
}

#top_nav {
	border-bottom: 1px solid #818181; 
	height: 51px; 
	width: 100%;
	margin-left: 70px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #26292c;
	overflow-x: hidden;
}

#top_nav_logo {
	display: none;
}

.top_nav_icon {
	height: 20px;
	margin: 6px 10px 0px 10px;
}

#top_nav_icons_container {
	height: 50px;
	display: none;
}
#top_container {
	display: inline;
	margin-left: 22%;
}

@media screen and (max-width: 768px) {
	.sidenav {
		width: 0px;
		border: none;
	}
	#top_nav {
		margin-left: 0px;
	}
	#top_nav_logo {
		display: inline-block;
		border-right: 1px solid #818181;
		width: 70px;
	}
	#top_nav_icons_container {
		display: inline-block;
	}
}  