@import 'color_palette';
$body-font-family:'Rajdhani', sans-serif;
body {
  // font-family: 'Orbitron', sans-serif !important;
  h4{
    font-family:'Orbitron', sans-serif;
  }
}
#connections {
  .row {
    color: white;
  }
  background-color: #6C0008;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 6px inset;
}
.scrollpoint {
  height: 50px;
}
.connections {
  .row {
    color: white;
  }
  background-color: #6C0008;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 6px inset;
}
.title-bar {
  background-color: black;
}
.sticky {
  .is-anchored {
    margin-top: 0rem !important;
  }
}
body {
  background: black;
  font-family: 'Rajdhani', sans-serif;
}

section {

  font-family: 'Rajdhani', sans-serif !important;
  color: white;
  padding: 40px 0px;
  h1 {
    text-shadow: $primary_text_shadow;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
  }
  h3 {
    text-shadow: $primary_text_shadow;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
  }
  h4 {
    font-family: 'Rajdhani', sans-serif;
  }
  h6 {
    font-family: 'Rajdhani', sans-serif;
  }
  background: $base_color; /* For browsers that do not support gradients */
  background-size: contain;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(top, black,  $primary_color, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, black,  $primary_color, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, black,  $primary_color, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, black,  $primary_color, black); /* Standard syntax (must be last) */
}
.menu > li > a {
  display: inline;
}
