$timeline-color: $gray;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: $white;
$timeline-item-font-color: $gray;
$timeline-item-card: false;
$timeline-item-card-radius: $global-radius;

%clearfix {
  &::after,
  &::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

// Timeline
.timeline {
  //border: 1px solid $accent;
  margin: 20px auto;
  padding: 20px 10px 20px 10px;
  position: relative;
  transition: $timeline-transition;
  width: 100%;
  //height: 1275px;

  h4 {
    color: $fuschia;
    margin-bottom: 20px;
  }

  &::before {
    background: $timeline-color;
    content: '';
    height: 85%;
    left: 4%;
    position: absolute;
    top: 70px;
    width: 3px;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  a {
    color: $green;
    font-weight: bold;
    transition: $timeline-transition;

    &:hover {
      box-shadow: 0 1px 0px 0px $green;
      transition: $timeline-transition;
    }
  }

  .timeline-item {
    margin-bottom: 30px;
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $gray;
      border-radius: 50%;
      height: 50px;
      left: 3%;
      margin-left: -23px;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 50px;

      img,
      svg {
        left: 12px;
        position: relative;
        top: 11px;
      }

      svg {
        top: 14px;
      }
    }

    .timeline-content {
      padding: 0px 0px 0px 85px;
      //text-align: right;
      transition: $timeline-transition;
      //width: 46%;

      @if $timeline-item-card == true {
        background: $timeline-item-card-bg;
        border-radius: $timeline-item-card-radius;

        p {
          //color: $void;
        }
      } @else {
        background: transparent;

        p {
          //color: $timeline-item-font-color;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 0;
      }

      .timeline-content-date {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        color: $fuschia;
        text-shadow: 1px 0px 3px black;
      }

      .timeline-content-title {
        font-size: 18px;
        color: $stark;
        text-shadow: 1px 1px 0px black;
      }

      .timeline-content-month {
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: 400;
      }

      &.right {
        //float: right;
        text-align: left;
      }
    }
  }
}

@include breakpoint(small only) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}
