<!-- Intro Title -->
<!-- <div class="intro row">
  <div class="col-xs-12 col-md-3">
    <div id="pageLabel">
      <h1 align="center" style="margin-bottom: 10px;">Edit Entry</h1>
    </div>
  </div>
  <div class="col-xs-12 col-md-9">
    <div id="pageSummary">&nbsp<!--
      The Vault, is a knowledgebase of good-to-knows and how to's that I have compiled as I have gained
      experience through my Computer Science undergraduate education, while at work, and while developing my side projects.
      Having a personlized knowledgebase makes searching for specific solutions easier.
    </div>
  </div>
</div> -->

<%= render 'form' %>
