<div align="center" style="display: inline">
	<% if user_signed_in? %>
		<%= link_to('Logout', destroy_user_session_path, :method => :get, id: 'logout') %>
	<% else %>
		<%= link_to('Sign In', new_user_session_path, :method => :get, id: 'sign_in') %>
	<% end %>
	<a href="https://www.facebook.com/nick.schumacher.357" style="margin-right: 10px">
		<img src="/images/facebook-icon.png" style="width: 30px">
	</a>
	<a href="https://github.com/nschumacher" style="margin-right: 10px">
		<img src="/images/github.png" style="width: 30px">
	</a>
	<a href="https://www.linkedin.com/in/nicholasaschumacher" style="margin-right: 10px">
		<img src="/images/linkedin-icon.png" style="width: 30px">
	</a>
</div>

<div align="center" style="display: inline; margin-top: 10px; margin-bottom:0px; text-shadow: 1px 1px 2px #00ACE6; padding: 10px 0px 0px 0px; ">

	<span>
		©2017 Nick Schumacher
	</span>
</div>
