<div class="sidenav">
  <div style="border-bottom: 1px solid #818181">
    <a href="/">
      <img src="/assets/sir_nicholas_blank.png" class="side_nav_icon" style="height: 50px; padding-left: 8px;">
    </a>
  </div>

  <div class="side_nav_icons_container">
    <!-- Home -->
    <% if current_page?('/') || current_page?('/pages/home') %>
    <a href="/">
      <div id="selected" class="side_nav_icon_container" align="center">
          <img src="/assets/home_icon.png" class="side_nav_icon">
      </div>
    </a>
    <% else %>
      <a href="/">
        <div class="side_nav_icon_container" align="center">
          <img src="/assets/home_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% end %>
    <!-- End Home -->
    
    <!-- Profile -->
    <% if current_page?('/pages/profile') %>
      <a href="/pages/profile">
        <div class="side_nav_icon_container" align="center" id="selected">
          <img src="/assets/person_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% else %>
      <a href="/pages/profile">
        <div class="side_nav_icon_container" align="center">
          <img src="/assets/person_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% end %>
    <!-- END Profile-->

    <!-- Resume -->
    <% if current_page?('/pages/resume') %>
      <a href="/pages/resume">
        <div class="side_nav_icon_container" align="center" id="selected">      
          <img src="/assets/resume_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% else %>
      <a href="/pages/resume">
        <div class="side_nav_icon_container" align="center">
          <img src="/assets/resume_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% end %>
    <!-- End Resume -->

    <!-- The Vault -->
    <% url = request.path_info %>
    <% if url.include?('/good_to_knows') %>
      <a href="/good_to_knows">
        <div class="side_nav_icon_container" align="center" id="selected">
          <img src="/assets/dev_board_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% else %>
      <a href="/good_to_knows">
        <div class="side_nav_icon_container" align="center">
          <img src="/assets/dev_board_icon.png" class="side_nav_icon">
        </div>
      </a>
    <% end %>
    <!-- End The Vault -->
  </div>
</div>

<div id="top_nav">
  <a href='/'>
    <div id="top_nav_logo">
      <img src="/assets/sir_nicholas_blank.png" class="side_nav_icon" style="height: 50px; padding-left: 8px;">
    </div>
  </a>
  <div id="top_container">
    <div id="top_nav_icons_container" align="center">
      <a href="/">
        <img src="/assets/home_icon.png" class="top_nav_icon" style="">
      </a>
      <a href="/pages/profile">
          <img src="/assets/person_icon.png" class="top_nav_icon" style="">
      </a>
      <a href="/pages/resume">
          <img src="/assets/resume_icon.png" class="top_nav_icon" style="">
      </a>
      <a href="/good_to_knows">
          <img src="/assets/dev_board_icon.png" class="top_nav_icon" style="">
      </a>
    </div>
  </div>
</div>