<div data-sticky-container id="top" data-magellan-target="top">
  <!-- <div class="title-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%; background-color: #383838 !important; "> -->
  <div class="title-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="0">
    <div class="title-bar-left">
      <ul class="horizontal menu">
        <li class="menu-text" style="" data-magellan>
          <!-- <img src="assets/custom_silver_sword.png" id="arctis_logo" class="menu" style=""> -->
          <a href="#top">Nick Schumacher</a>
        </li>
      </ul>
    </div>
    <div class="title-bar-right" style="padding-top: 10px">
      <ul class="horizontal menu" data-magellan>
        <li><a href="#first">About Me</a></li>
        <li><a href="#second">Projects</a></li>
        <li><a href="#third">The Vault</a></li>
      </ul>
    </div>
  </div>
</div>
