<div data-sticky-container id="top" data-magellan-target="top">
  <!-- <div class="title-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%; background-color: #383838 !important; "> -->
  <div class="title-bar sticky" data-sticky data-options="marginTop:0;" style="width:100%;" data-top-anchor="0">
    <div class="title-bar-left">
      <ul class="horizontal menu">
        <li class="menu-text" style="padding: 0px" data-magellan>
          <a href="/">
            <img src="assets/personal_logo.png" id="arctis_logo" class="menu" style="height:20px;">
          </a>
        </li>
      </ul>
    </div>
    <div class="title-bar-right" style="">
      <ul class="horizontal menu" data-magellan>
        <li><a href="/pages/home">Home</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/projects">Skills</a></li>
        <!--<li><a href="/good_to_knows/">The Vault</a></li>-->
        <li>
          <button type="button" class="button hollow topbar-responsive-button">The Vault</button>
        </li>
      </ul>
    </div>
  </div>
</div>
